<!doctype html>
<html class="no-js">
	<head>
	    <meta charset="utf-8">
	    <title>index</title>
	    <meta name="description" content="">
	    <meta name="viewport" content="width=device-width">
	    <meta name="author" content="codetyphon" />
	    <meta name="description" content="codetyphon a small node web framework"/>
	    <meta name="keywords" content="codetyphon,node,framework"/>
	    <meta name="application-name" content="sprFlat admin template" />
	    <link rel="shortcut icon" href="/favicon.ico">
	    <link rel="stylesheet" href="/css/main.min.css">
    </head>
<body>
	<h1><a href="/">www.codetyphon.com</a></h1>
    <p class="nav">
      <a href="/">Home</a>
      <a href="/about">About</a>
    </p> 
    <div class="item">
	    <h2>blogs</h2>
	    <p>	<img src="/img/logo.jpg" width="80" height="80"></p>
		<p>
			<a href="/blog/line.html">wbline</a>
		</p>
	    <p class="pub">2015</p>
    </div>
    <div class="footer">
      <p class="footercopyright">© 2000-2015 <a href="/">www.codetyphon.com</a>
      </p> 
    </div> 
</body>
</html>