<!doctype html>
<html class="no-js">
	<head>
	    <meta charset="utf-8">
	    <title>index</title>
	    <meta name="description" content="">
	    <meta name="viewport" content="width=device-width">
	    <meta name="author" content="codetyphon" />
	    <meta name="description" content="codetyphon a small node web framework"/>
	    <meta name="keywords" content="codetyphon,node,framework"/>
	    <meta name="application-name" content="sprFlat admin template" />
	    <link rel="shortcut icon" href="/favicon.ico">
	    <link rel="stylesheet" href="/css/main.css">
    </head>
<body>
	<h1>blogs</h1>
	
	<p>www.codetyphon.com</p>
</body>
</html>